@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(135deg, #ff153f, #ff6347);
  color: white;
  font-family: "Poppins", sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background: #121212;
  color: #ccc;
}

h1 {
  font-size: 100px;
  margin-bottom: 20px;
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

img {
  width: 450px;
  max-width: 100%;
  border: 4px solid #ff153f;
  border-radius: 15px;
  animation: float 3s ease-in-out infinite;
  margin: 20px 0;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.text h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
}

.text p {
  font-size: 14px;
  font-weight: 300;
}

.back-link {
  display: inline-block;
  background: #ff153f;
  width: 220px;
  height: 45px;
  margin: 20px 0;
  text-align: center;
  line-height: 45px;
  border-radius: 25px;
  color: #fff;
  text-decoration: none; /* Remove underline from the link */
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0px 8px 20px rgba(255, 21, 63, 0.3);
  transition: all 0.3s ease-in-out;
}

.back-link:hover {
  background: #e01336;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 10px 25px rgba(255, 21, 63, 0.5);
}

@media (max-width: 600px) {
  h1 {
    font-size: 70px;
  }
  img {
    width: 280px;
  }
  .text h2 {
    font-size: 20px;
  }
  .text p {
    font-size: 12px;
  }
  .back-link {
    width: 180px;
    height: 40px;
    font-size: 14px;
  }
}